h1{
    text-align: center;
    color: rgb(72, 25, 83);
    background-color: rgb(196, 149, 196);
}
h5{
    text-align: center;
    color: rgb(72, 25, 83);
    font-size: 15px;
    background-color: rgb(196, 149, 196);
}